VPS_HOST=103.150.93.71
VPS_USER=gpadaka19
SSH_PRIVATE_KEY=-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACAiVtDDczuvxcat3x07u4VFBEb8Pf8JMB9Fz+Y2EYZ2dQAAAJgg5QJeIOUC
XgAAAAtzc2gtZWQyNTUxOQAAACAiVtDDczuvxcat3x07u4VFBEb8Pf8JMB9Fz+Y2EYZ2dQ
AAAEAGLtqUNykCo2wWNEdSmfOuctJqWaW9SkmPIwEK24CJ4yJW0MNzO6/Fxq3fHTu7hUUE
Rvw9/wkwH0XP5jYRhnZ1AAAAEXBwZGJtdHNuMXdrLXJlYWN0AQIDBA==
-----END OPENSSH PRIVATE KEY-----